// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





/// Regular font family
/// @type List
$text-font-stack: Roboto, 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: rgb(0, 0, 0) !default;

/// Main color
/// @type Color
$primary-color: #9356DC !default;

/// Secondary color
/// @type Color
$secondary-color: #FF79DA !default;

/// Third color
/// @type Color
$third-color: #99E2D0 !default;



/// @type Color
$green: #008766 !default;

/// @type Color
$light-blue: #89C8FA !default;

/// @type Color
$blue: #003A68 !default;



/// Background color
/// @type Color
$background-color: #f6f6f6 !default;




/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Padding for containers
  $padding: 20px;