// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.footer {
    background-color: #353535;
    color: #fff;
    padding-left: 25px;

    &__title {
        font-family: 'Shrikhand', sans-serif;
    }

    &__list {
        @include flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 0;
    }

    &__item {
        list-style-type: none;

        &__link {
            @include flex;
            align-items:center;
            column-gap: 10px;

            p {
                margin: 0;
            }
        }
    }
}