// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


.footer {
    background-color: #353535;
    color: #fff;
    padding-left: 25px;
    padding-top: 30px;
    padding-bottom: 30px;

    &__title {
        font-family: 'Shrikhand', sans-serif;
    }

    &__list {
        @include flex;
        flex-direction: column;
        row-gap: 16px;
        padding: 0;
        margin-bottom: 0;
        margin-top: 30px;
    }

    &__item {
        list-style-type: none;

        &__link {
            @include flex;
            align-items:center;
            column-gap: 10px;

            p {
                margin: 0;
            }
        }
    }
}


@media screen and (min-width: 1024px) {

    .footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        padding-right: 20px;
        column-gap: 5%;

        &__list {
            flex-direction: row;
            justify-content: flex-end;
            column-gap: 25px;
        }
    }
}