.highlight {
  width: 100vw;
}

.main {
  width: 100vw;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  position: relative;
  margin-top: -100px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.main__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.main__name h1 {
  font-family: "Shrikhand";
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
}
.main > *:not(:first-child) {
  position: relative;
  opacity: 0;
  top: 100vh;
  animation-name: fade_in;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.3, 1);
}
.main :nth-child(2) {
  animation-delay: 0.75s;
}
.main :nth-child(3) {
  animation-delay: 1.5s;
}
.main :nth-child(4) {
  animation-delay: 2.15s;
}
.main :last-child {
  animation-delay: 2.6s;
}
.main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  width: 100%;
}
.main .section__title {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0;
}
.main .section__title::after {
  content: "";
  display: block;
  width: 38px;
  height: 2px;
  background-color: #99E2D0;
}
.main .article {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}
.main .article:hover .article__text {
  width: calc(100% - 75px);
}
.main .article:hover .article__check {
  right: 0;
}
.main .article__text {
  width: 100%;
  transition: 0.3s;
  padding: 15px;
}
.main .article__text .article__title {
  font-weight: 600;
  margin: 0;
}
.main .article__text .article__title, .main .article__text .article__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.main .article__text .article__details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}
.main .article__text .article__details p {
  margin: 0;
}
.main .article__check {
  height: 100%;
  width: 75px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -75px;
  transition: 0.3s;
}
.main .article__check i {
  background: white;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .article__check i::before {
  color: #99E2D0;
  font-size: 1.2rem;
}
.main .btn {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 20px;
}

@keyframes fade_in {
  20% {
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@media screen and (min-width: 481px) {
  .highlight {
    max-height: 500px;
    object-fit: cover;
  }
  .main {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 150px;
    padding-left: 150px;
  }
  .main > *:not(:last-child) {
    max-width: 1000px;
    width: 100%;
  }
  .main div.main__name {
    max-width: 350px;
  }
}
@media screen and (min-width: 481px) and (max-width: 1023px) {
  .main {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*# sourceMappingURL=restaurants.css.map */
