// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
    .header__navbar {
        display: none;
    }

    .form {
        background-color: #EAEAEA;
        width: 100%;
        height: 60px;
        column-gap: 1rem;

        &__input {
            border: none;
            background-color: inherit;
            width: 150px;
        }
    }

    h1, .intro {
        width: 100%;
        text-align: center;
        padding: 0 10%;
    }
    h1 {
        font-size: 1.5rem;
        letter-spacing: -0.5px;
        margin-top: 30px;
    }
    .intro {
        font-size: 1.2rem;
        font-weight: 300;
    }

    .fonctionnement {
        @include flex;
        flex-direction: column;
        width: 100%;
        padding-left: $padding;
        padding-right: $padding;
        background-color: #fff;
        margin-top: 50px;
        padding-top: 50px;
        padding-bottom: 50px;

        &__title {
            width: 100%;
            margin-top: 0;
        }

        &__list {
            @include flex;
            flex-direction: column;
            row-gap: 25px;
            counter-reset: item;
            list-style-type: none;  
            padding: 0;

            li {
                // différence entre inlne-flex et display: flex; width: fit-content; ?
                @include flex;
                width: 100%;
                align-items: center;
                position: relative;

                &::before {
                    content: counter(item);
                    counter-increment: item;
                    z-index: 1;
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    color: #fff;
                    font-size: 1rem;
                    text-align: center;
                    line-height: 1.6rem;
                    border-radius: 100%;
                    background-color: #9356DC;
                }

                div {
                    @include flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 1rem;
                    padding: 10px 2rem;
                    width: 100%;
                    background-color: $background-color;
                    border-radius: 20px;
                    height: 70px;
                    margin-left: -13px;
                    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, .1);

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

        #restaurants {
            padding-left: $padding;
            padding-right: $padding;
            background-color: $background-color;
            padding-top: 40px;
            padding-bottom: 40px;

            @include flex;
            flex-direction: column;
            row-gap: 25px;
        }

    h2 {
        margin: 0;
    }

    #cards {
        @include flex;
        flex-direction: column;
        row-gap: 20px;

        .card {
            display: block;
            width: 100%;
            background-color: #fff;
            border-radius: 20px;
            overflow: hidden;
    
            position: relative;
            &__new {
                position: absolute;
                padding: 5px 10px;
                top: 15px;
                right: 15px;
                background: $third-color;
                border-radius: 3px;
                color: #008766;
                font-size: 0.9rem;
            }
    
            &__img {
                width: 100%;
                height: 250px;
                object-fit: cover;
                display: block;
            }
    
            &__content {
                @include flex;
                justify-content: space-between;
                align-items: center;
                margin: 15px 0;
                padding: 0 20px 0 10px;
            }
    
            &__title {
                font-size: 20px;
                font-weight: 600;
                margin: 0;
            }
            &__city {
                font-size: 18px;
                font-weight: 300;
                margin: 0;
            }
        }
    }




@media screen and (min-width: 481px) {

    h1 {
        font-size: 2rem;
    }

    #restaurants {
        justify-content: center;


        h2 {
            width: 100%;
            max-width: 1440px;
            margin: auto;
        }

        #cards {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 1440px;
            justify-content: space-between;
            margin: auto;
            width: 100%;

            .card {
                width: 48%;
            }  
        }
    }
}



@media screen and (min-width: 1023px) {
    .fonctionnement {
        max-width: 1440px;
        margin: auto;
        padding-right: 0;
        padding-left: 0;

        &__list {
            flex-direction: row;
            justify-content: space-between;
    
            li {
                width: 30%;
            }
        }
    }
}